{% ckan_extends %}

{{ super() }}


  {% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="item-count badge" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
  <br />
  <small>
    {% if res.get('testing_custom_field') %}
    Testing_Custom_Field: <strong> {{res.get('testing_custom_field')}}</strong>
    {% endif %}
  </small>
  {% endblock %}
